<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">qwerty</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">check code</span>
          <input type="text" ng-model="vm.code">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="vm.checkCode()">Send</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
